<% layout('layout') -%>
<div class="col-xs-12">
	<h1><%=user.username%>'s Friends!</h1>
	<br>
	<div class="all-activities">
	<% for (var i = 0; i<friends.length; i++) { %>
		<div class="activity friendsColor">
			<h3><%=friend[i].username%></h3>
			<p>I remember when <%=friend[i].username %> and I used to hang out everyday! </p>
			<%= img_tag(friend[i].image) %>
		</div>
	<% } %>
</div>

