<% layout('layout') -%>
<div class="col-xs-12">
	<h1>Your Friends!</h1>
	<br>
	<div class="all-activities">
	<% for (var i = 0; i<userFriends.length; i++) { %>
		<div class="activity friendsColor">
			<h3><%=userFriends[i].username%></h3>
		</div>	
	<% } %>
</div>

