<% layout('layout') -%>
<div class="col-xs-12">
	<h1>Your Friends!</h1>
					<button class="btn btn-success btn-lg friendsBackgroundColor" data-toggle="modal" data-target="#friendModal">
				  Add a Friend  <i class="fa fa-plus fa-1x" ></i>
				</button>

				<!-- Modal -->
				<div class="modal fade" id="friendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">Add Friend</h4>
				      </div>
				      <div class="modal-body">
				      	What's your friend's name?<BR>
				        <form id="addFriendForm">
				        	<input type="text" id="friendName" placeholder="Name"  class="form-control">
				        	<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        	<button type="button" id="addFriendButton" class="btn btn-primary">Add Friend</button>
				      </div>
				        </form>
				      </div>	      
				    </div>
				  </div>
				</div><!-- End Modal -->
	<br>
	
	<div class="all-activities">
	<% for (var i = 0; i<userFriends.length; i++) { %>
		<div class="activity friendsColor">
			<h3><a href="/user/<%= userFriends[i]._id%>"><%=userFriends[i].username%></a></h3>
		</div>	
	<% } %>
</div>

