<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />

	<title>Rally</title>
	<link rel="apple-touch-icon" href="images/icon.jpg"/>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!--<link rel="stylesheet" type="text/css" href="/css/style2.css">-->
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery.pageslide.css">
	
</head>
<body>
<!-- 		<nav class="navbar-fixed-top brand" role="navigation">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top-collapase">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Rally</a>
	        </div>
	        <div class="collapse navbar-collapse" id="navbar-top-collapase">
	          <ul class="nav navbar-nav">
	          	<% if (!user) { %>
					<li><a href="/">Home</a> </li>
					<li><a href="/login">Log In</a></li>
				<% } else { %>
					<li><a href="/">Home</a></li> 
					<li><a href="/account">Account</a></li>  
					<li><a href="/logout">Log Out</a></li>
				<% } %>
	          </ul>
	        </div>
	      </div>
	  </nav> -->

	  <nav class="navbar-fixed-top brand">
	  	<p class="title"><a href="/" style="text-decoration: none; color: black"><i class="fa fa-map-marker"></i> Rally</a>
	  	<% if (!user) { %>
	  	<a href="/login" class="log">Log In</a>
	  	<% } else { %>
	  	<a href="/logout" class="log">Log Out</a>
	  	<% } %>
	  </p>


	  </nav>


	  <nav class="navbar-fixed-bottom" role="navigation">
	      <div class="span3"><a href="/account" id="profilenav"><i class="fa fa-user fa-2x inactive" id="account"></i></a></div>
	      <div class="span3"><a href="/" id="homenav"><i class="fa fa-home fa-2x inactive" id="home"></i></a></div>
	      <div class="span3"><a href="/friends" id="friendsnav"><i class="fa fa-users fa-2x inactive" id="friends"></i></a></div>
 		</div>
</div>
</nav>



<div class="container">
	<%- body %>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/refresh.js"></script>
<script type="text/javascript" src="/js/jquery.pageslide.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>

</body>
</html>
