<!DOCTYPE html>
<head>
	<meta charset="utf-8" />

	<title>Rally</title>
	<link rel="apple-touch-icon" href="images/icon.png"/>
	<!-- iPhone 4 (Retina) -->
<link href="img/icons/apple-touch-startup-image-640x920.png" 
      media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" 
      rel="apple-touch-startup-image">
<!-- iPhone 5 -->
<link href="images/splashx2.png" 
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" 
      rel="apple-touch-startup-image">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-title" content="Rally">
	 <meta
    name="viewport"
    content="initial-scale=1.0;
    maximum-scale=1.0;
    user-scalable=no;
    width=device-width">
	
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery.pageslide.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	
</head>
<body>

	  <nav class="navbar-fixed-top brand">
	  	<p><a href="/" style="text-decoration: none;"><span class="title masked">Rally</span></a>
	  	<% if (!user) { %>
	  	<a href="/login" class="log">Log In</a>
	  	<% } else { %>
	  	<a href="/logout" class="log" style="color: gray;">Log Out</a>
	  	<% } %>
	  </p>

	  </nav>


	  <nav class="navbar-fixed-bottom" role="navigation">
	      <div class="span3"><a href="/account" id="profilenav"><i class="fa fa-user fa-2x inactive" id="account"></i></a></div>
	      <div class="span3"><a href="/" id="homenav"><i class="fa fa-home fa-2x inactive" id="home"></i></a></div>
	      <div class="span3"><a href="/friends" id="friendsnav"><i class="fa fa-users fa-2x inactive" id="friends"></i></a></div>
 		</div>
</div>
</nav>

<%- body %>


<script type="text/javascript" src="/js/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/refresh.js"></script>
<script type="text/javascript" src="/js/jquery.pageslide.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>

</body>
</html>
