<% layout('layout') -%>
<div class="row-fluid">
	<div class="col-xs-12">
		<h1 class="activityColor"> <%=activity.title%> <BR> <small>Followers: <%= activity.ralliers.length %></small></h1>
		
		<p>Description: This activity is so awesome. You should rally with it!</p>
	</div>
</div>
