<% layout('layout') -%>
<class="row-fluid">
<a href="/friends">
<button class="btn btn-primary btn-lg friendsBackgroundColor" data-toggle="modal" data-target="#myModal">
				  <i class="fa fa-arrow-left fa-1x" ></i> 
</button>
</a>
	<div class="col-xs-12">
		<img width="300px" height="auto" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/t1/29604_559855414028037_1472903552_n.jpg">
		<h1 class=friendsColor>Your buddy: <%=friend.username%></h1>
		<h3><%=friend.username%> is currently doing <%= friend.rallies.length %> activities. Maybe you should join!</h3>
	</div>
</div>
