<% layout('layout') -%>
<class="row-fluid">
<a href="/friends">
<button class="btn btn-primary btn-lg friendsBackgroundColor" data-toggle="modal" data-target="#myModal">
				  <i class="fa fa-arrow-left fa-1x" ></i> 
</button>
</a>
	<div class="col-xs-12">
		<img width="300px" height="auto" src="<%= friend.imageURL %>">
		<h1 class=friendsColor>Your buddy: <%=friend.username%></h1>

		<h4>Check out what your friend is up to:</h4>
		<ul>
			<% for(var i = 0; i < friendRallies.length; i++) { %>
				<li><a href="/activity/<%= friendRallies[i]._id%>"><%= friendRallies[i].title%></a></li>
			<% } %>
		</ul>
	</div>
</div>
