@import url(http://fonts.googleapis.com/css?family=Capriola);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Text+Me+One);

body {
  padding-top: 60px;
  background-color: rgba(133, 133, 133, 0.05);
  padding-bottom: 80px;
}



@media (max-width: 979px) {
  body {
    padding-top: 40px;
  }
}


.brand{
    float: left;
    padding-top: 5px;
    background-color: white;
    height: 30px;
    font-size: 20px;
    font-weight: lighter;
	padding-left: 10px;
}
#friended {
	overflow-x: scroll;
    overflow-y: hidden;
    height: 150px;
    white-space:nowrap
}
.photoupload {
	float: right;
	display: inline;
}

.log {
	float: right;
	padding-right: 10px;
}

.unrallybtn {
	float: right;
}

.rallyBtn  {
	clear: both;
	position: relative;
}

.titletext {
	font-size: 60pt;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
}
.masked{
	background: url(/img/paint.png) repeat, white;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-animation-name: masked-animation;
	-webkit-animation-duration: 40s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-animation-name: masked-animation;
	-moz-animation-duration: 40s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}
@-webkit-keyframes masked-animation {
	0% {background-position: left bottom;}
	100% {background-position: right bottom;}
}

.hiddenElem {
	visibility: hidden;
}

.active{
	color: white!important;
	opacity:1!important;
	filter:alpha(opacity=100)!important;
}

.inactive {
	opacity:0.65;
	filter:alpha(opacity=65);
}

#profilenav {
	background-color: #1abc9c;
}

#homenav {
	background-color: #f1c40f;
}

#friendsnav {
	background-color: #e74c3c;
}

.friendsBackgroundColor {
	background-color: #e74c3c;
}

.activityBackgroundColor {
	background-color: #1abc9c;
}

.greyBackgroundColor {
	background-color: #95a5a6;
}

.friendsColor {
	color: #e74c3c;
}


.profileColor {
	color: #f1c40f !important;
}

.activityColor {
	color: #1abc9c;
}

#profilenav, #friendsnav, #homenav {
	text-align: center;
	color: white;
	display: block;
	float: left;
	width: 33.33333333%;
	height: 50px;
	padding-top: 10px;
}


.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#plus:hover {
    color: #8e44ad;
}



.activity {
	width: 100%;
	background-color: white;
	text-align: center;
	display: inline-block;
	border: 1px solid #cdcdcd;
	padding-right: 5px;
	padding-left: 5px;

}

.activity h3 {
	font-size: 20px;
	margin-top: 2px;
}

.all-activities {
	padding-bottom: 40px;
}


.description {
	position: relative;
	font-weight: lighter;
	font-size: 10px;
}

.friendSmall {
	width: 75px;
	height: 100px;
}

.img {
	float: left;
	border-radius: 5px;
}

#addFriend:hover {
    opacity: .5;
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.1,1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

#addFriend {
	height: 10px;
}
#curFriends {
	margin-bottom: 150px !important;
}
.refresher:hover {
    color: green;
}

.refreshbtn {
	float: right;
	margin-right: 0;
	position: relative;
}

#plus {
	float: right;
}